@import '../vars.css';

.webshop__detail__general {
  width: 96rem;
  margin: var(--mediumMargin) auto 0 auto;
  display: flex;

  @media (--regular-viewport) {
    width: 100vw;
    justify-content: space-between;
  }

  @media (--medium-viewport) {
    font-size: var(--bigBold);
  }

  @media (--small-viewport) {
    flex-flow: column;
  }
}

.webshop__detail__general__img {
  width: 38rem;

  @media (--small-viewport) {
    width: calc(100vw - var(--extraSmallMargin));
    padding-left: var(--extraSmallMargin);
  }
}

.webshop__detail_general__img__large-wrapper {
  width: 38rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--small-viewport) {
    width: calc(100vw - var(--extraSmallMargin));
  }
}

.webshop__detail_general__img__large {
  max-height: 100%;
  max-width: 100%;
}

.webshop__detail__general__img__small {
  margin: var(--smallMargin) var(--extraSmallMargin);
  display: flex;
  flex-wrap: wrap;

  @media (--small-viewport) {
    margin: var(--smallMargin);
    justify-content: center;
  }
}

.webshop__detail__general__img__small__item {
  width: 8rem;
  height: 8rem;
  margin: var(--extraSmallMargin);
  display: flex;
  justify-content: center;
}

.webshop__detail_general__img__small__picture__img {
  max-height: 100%;
  max-width: 100%;
}

.webshop__detail__general__img__small__item--highlight {
  border: .1rem solid var(--redColor);
}

.webshop__detail__general__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .5);
}

.webshop__detail__general__modal-content {
  margin: 10vh auto;
  background-color: var(--lightColor);
  width: 50rem;
  height: 80vh;
  overflow: scroll;

  @media (--extrasmall-viewport) {
    width: calc(100vw - var(--extraSmallMargin));
  }
}

.webshop__viewing-copy {
  width: 40rem;
  margin: var(--mediumMargin);
}

.webshop__detail__general__modal-content__text {
  margin: var(--smallMargin) var(--mediumMargin);

  @media (--medium-viewport) {
    font-size: var(--bigBold);
  }

  @media (--extrasmall-viewport) {
    margin: var(--extraSmallMargin);
  }
}

.webshop__detail__general__modal-conten__close {
  font-size: var(--mediumTitle);
  width: 100%;
  cursor: pointer;
  text-align: right;
  padding: var(--extraSmallMargin) var(--smallMargin);
}

.webshop__detail__general__modal-conten__close:hover {
  color: var(--redColor);
}

.webshop__detail__general__btn {
  display: block;
  color: var(--redColor);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'swiss721-Condensed', sans-serif;
  text-transform: uppercase;
}

.webshop__detail__general__btn::before {
  content: '';
  display: inline-block;
  width: var(--smallMargin);
  height: var(--smallMargin);
  background-image: url(../../assets/img/viewingCopy.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: var(--extraSmallMargin);
}

.webshop__detail__general__info {
  margin-left: var(--smallMargin);

  @media (--small-viewport) {
    margin: 0 var(--extraSmallMargin);
    width: calc(100vw - var(--extraSmallMargin));
  }
}

.webshop__detail__general__info__title {
  font-size: var(--bigTitle);
  font-family: 'swiss721-Condensed', sans-serif;
  line-height: 1;

  @media (--small-viewport) {
    margin-top: var(--smallMargin);
  }

  @media (--extrasmall-viewport) {
    font-size: var(--mediumTitle);
  }
}

.webshop__detail__general__version-wrapper {
  display: flex;
  margin-top: var(--smallMargin);
}

.webshop__detail__general__stock {
  color: var(--greenColor);
  font-family: 'swiss721-Condensed', sans-serif;
  margin-top: var(--extraSmallMargin);
}

.webshop__detail__general__stock::before {
  content: '';
  display: inline-block;
  width: var(--smallMargin);
  height: var(--smallMargin);
  background-image: url(../../assets/img/check.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.webshop__detail__general__price-wrapper {
  display: flex;
  align-items: flex-end;
}

.webshop__detail__general__price {
  font-size: var(--bigTitle);
  font-family: 'swiss721-Condensed', sans-serif;
  font-weight: bold;
}

.webshop__detail__general__price-detail {
  line-height: 3;
  margin-left: var(--extraSmallMargin);

  @media (--medium-viewport) {
    line-height: 1.2;
  }
}

.webshop__detail__general__discount__label {
  font-family: 'swiss721-Condensed', sans-serif;
}

.webshop__detail__general__discount__explain {
  color: var(--greyColor);
  line-height: 1;
}

.webshop__detail__general__discount__input-wrapper {
  display: flex;
}

.webshop__detail__general__discount__input {
  border: .1rem solid var(--redColor);
  font-size: var(--regularFont);
  width: 11rem;
}

.webshop__detail__general__btn-wrapper {
  display: flex;
  margin-top: var(--extraSmallMargin);
}

.webshop__detail__general__list {
  list-style-image: url(../../assets/img/listitem.svg);
  margin: var(--extraSmallMargin) 0 0 var(--smallMargin);
}

.webshop__detail__longread {
  background-color: var(--yellowColor);
  padding: var(--smallMargin);
  width: 96rem;
  margin: var(--mediumMargin) auto 0 auto;
  display: grid;
  grid-template-columns: 28rem auto;
  grid-template-rows: 10rem 4rem;
  grid-column-gap: var(--smallMargin);

  @media (--regular-viewport) {
    width: 100vw;
  }

  @media (--medium-viewport) {
    grid-template-rows: auto 4rem auto;
  }

  @media (--small-viewport) {
    grid-template-columns: 20rem auto;
  }

  @media (--extrasmall-viewport) {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
  }
}

.webshop__detail__longread__img {
  grid-row: 1/3;

  @media (--medium-viewport) {
    grid-row: 1/4;
  }

  @media (--small-viewport) {
    width: 20rem;
  }

  @media (--extrasmall-viewport) {
    width: 80vw;
  }
}

.webshop__detail__longread__title {
  font-size: var(--bigTitle);
  font-family: 'swiss721-Condensed', sans-serif;
  line-height: 1;
  text-transform: uppercase;

  @media (--medium-viewport) {
    font-size: var(--mediumTitle);
  }
}

.webshop__detail__longread__btn {
  width: 18rem;
}

.webshop__detail__info__title {
  font-size: var(--mediumTitle);
  font-family: 'swiss721-Condensed', sans-serif;
}

.webshop__detail__info {
  display: flex;
  width: 96rem;
  padding: 0 var(--extraSmallMargin);
  margin: var(--mediumMargin) auto 0 auto;

  @media (--regular-viewport) {
    width: 100vw;
  }

  @media (--medium-viewport) {
    font-size: var(--bigBold);
  }

  @media (--small-viewport) {
    flex-flow: column;
  }
}

.webshop__detail__info__description-wrapper {
  width: 54rem;
  margin-right: var(--smallMargin);

  @media (--small-viewport) {
    width: calc(100vw - var(--smallMargin));
    max-width: 54rem;
    margin-right: 0;
  }
}

.webshop__detail__info__testimonials {
  width: 30vw;
  max-width: 38rem;

  @media (--small-viewport) {
    width: calc(100vw - var(--smallMargin));
    margin-top: var(--smallMargin);
  }
}

.webshop__detail__info__quote {
  font-family: 'swiss721-Condensed', sans-serif;
  margin-top: var(--smallMargin);
}

.webshop__detail__specs {
  width: 96rem;
  padding: 0 var(--extraSmallMargin);
  margin: var(--mediumMargin) auto 0 auto;

  @media (--regular-viewport) {
    width: calc(100vw - var(--smallMargin));
  }

  @media (--medium-viewport) {
    font-size: var(--bigBold);
  }
}

.webshop__detail__specs__table {
  line-height: 1.8;
}

.webshop__detail__specs__table__title {
  color: var(--greyColor);
}

.webshop__detail__specs__table__text {
  padding-left: var(--smallMargin);
}

.webshop__detail__reviews {
  max-width: 96rem;
  padding: 0 var(--extraSmallMargin);
  display: flex;
  margin: var(--mediumMargin) auto 0 auto;

  @media (--regular-viewport) {
    width: 100vw;
  }

  @media (--medium-viewport) {
    font-size: var(--bigBold);
  }

  @media (--small-viewport) {
    flex-flow: column;
  }
}

.webshop__detail__reviews__overview {
  width: 54rem;
  margin-right: var(--smallMargin);

  @media (--regular-viewport) {
    width: calc(58vw - var(--smallMargin));
  }

  @media (--small-viewport) {
    width: calc(100vw - var(--smallMargin));
  }
}

.webshop__detail__reviews__input {
  width: 38rem;

  @media (--regular-viewport) {
    width: 42vw;
  }

  @media (--small-viewport) {
    width: calc(100vw - var(--smallMargin));
  }
}

.webshop__detail__reviews__overview-wrapper {
  border-bottom: .1rem dashed black;
  margin-bottom: var(--smallMargin);
}

.webshop__detail__reviews__overview__name {
  font-weight: bold;
  text-transform: uppercase;
}

.webshop__detail__reviews__overview__comment {
  margin-top: var(--extraSmallMargin);
}

.webshop__detail__reviews__input__form__label {
  font-family: 'swiss721-Condensed', sans-serif;
  text-transform: uppercase;
}

.webshop__detail__reviews__input__form {
  display: flex;
  flex-flow: column;
}

.webshop__detail__reviews__input__form__input {
  border: .1rem solid var(--redColor);
  height: var(--regularMargin);
  font-size: var(--regularFont);
  padding: .5rem;
  margin-bottom: var(--smallMargin);
  width: 100%;
}

.webshop__detail__reviews__input__form__input--textarea {
  height: calc(var(--mediumMargin) * 2);
}

.webshop__detail__reviews__input__form__stars {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  margin-bottom: var(--extraSmallMargin);
}

.webshop__detail__reviews__input__form__stars > label::before {
  content: '';
  background-image: url(../../assets/img/star-nofill.svg);
  width: 3.7rem;
  height: 3.7rem;
  background-repeat: no-repeat;
  display: inline-block;
}

.webshop__detail__reviews__input__form__stars > label:hover::before,
.webshop__detail__reviews__input__form__stars > input:checked ~ label::before,
.webshop__detail__reviews__input__form__stars > label:hover ~ label::before {
  content: '';
  background-image: url(../../assets/img/star-fill.svg);
  width: 3.7rem;
  height: 3.7rem;
  background-repeat: no-repeat;
  display: inline-block;
}
